//height and widths
$height-logo: 6rem;

//colors
$color-primary: #F15F28;
$color-secondary: #58595B;

$color-orange-1: #FBE9E7;
$color-orange-2: #FFCCBC;
$color-orange-3: #FFAB91;
$color-orange-4: #FF8A65;
$color-orange-5: #FF7043;
$color-orange-6: #FF5722;
$color-orange-7: #F4511E;
$color-orange-8: #E64A19;
$color-orange-9: #D84315;
$color-orange-10: #BF360C;

$color-grey-1: #FAFAFA;
$color-grey-2: #F5F5F5;
$color-grey-3: #EEEEEE;
$color-grey-4: #E0E0E0;
$color-grey-5: #BDBDBD;
$color-grey-6: #9E9E9E;
$color-grey-7: #757575;
$color-grey-8: #616161;
$color-grey-9: #424242;
$color-grey-10: #212121;

//grid variables
$grid-width: 114rem;
$grid-vertical-space: 2rem;
$grid-horizontal-space: 6rem;
