.navigation {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 30rem;
  height: 100%;

  background-color: $color-secondary;

  animation: slideFromLeft 0.2s ease-out;

  z-index: 1000;

  &__header {
    display: flex;
    align-items: center;

    padding: 1rem;
  }

  &__icon-close {
    align-self: flex-start;

    fill: $color-white;

    transition: all 0.2s;

    &:hover {
      fill: $color-primary;

      cursor: pointer;

      transform: scale(1.2);
    }
  }

  &__text {
    flex: 1;

    cursor: default;

    text-align: center;
    font-size: 3rem;
    color: $color-white;
  }
}
